# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Sphinx documentation
docs/_build/

# Database
*.db
*.rdb

# Pycharm
.idea

# VS Code
.vscode/

# Spyder
.spyproject/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# exclude data from source control by default
/data/

# Mac OS-specific storage files
.DS_Store

